mixin topic(topic)
  a.label.label-default.small.interval-r(href="/?tag=" + topic.tag)= topic.tag
  span.float-r.text-muted= topic.create_time.toLocaleDateString()
  a(href='/topic/' + topic._id)= topic.title


mixin reply(reply) 
  h4
    +topic(reply.topic)
  .reply-content!= md.render(reply.content)


mixin reply_list(replys)
  each reply in replys
    li: +reply(reply)

mixin topic_list(topics) 
  each topic in topics
    li: +topic(topic)
  