extends ../layout


block content
  .wp-right
    include ../sidebar/user_info
  .wp-left
    .panel
      .panel-hd  <span class="icon-list"></span> #{user.username}创建的话题
      .panel-bd
        ul.list.list-striped
          each topic in topics
            li
              a.label.label-default.small.interval-r(href="/?tag=" + topic.tag)= topic.tag
              span.float-r.text-muted= topic.create_time.toLocaleDateString()
              a(href='/topic/' + topic._id)= topic.title
        include ../includes/page
            