@import 'nib'

normalize-css()

$bg_color = $f0f0f0;
$main_color = #2196F3;

body 
  background-color #f0f0f0
  margin 0
  font 16px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif
  
a
  color #555
  &:link
    text-decoration none 
  &:hover
    color $main_color

ul 
  list-style none
  margin 0
  padding-left 0
  
h1
h2
h3
h4
h5
h6 
  margin 0

.wp
  width 1200px
  margin 10px auto
  &-left
    margin-right 310px
  &-right
    float right
    width 300px
  
 

//  顶部
#header
  background-color #fff
  height 50px  
  color #fff
  .logo
    font-size 1.5em
    line-height @height
    b
      color $main_color
  .user-nav
    float right
    margin 0
    line-height @height
    li
      display inline-block
      &:after 
        content '|'
        color #000
        padding 0 .5em
      &:last-child:after
        display none
// 底部
#footer
  margin-top 1em
  p 
    margin 0 
    color #999
    font-size .9em        
// panel
.panel
  border 1px solid #ddd
  background-color #fff
  box-shadow 0px 1px 1px 0px rgba(0,0,0,.3)
  margin-bottom 10px
  border-radius 5px
  &-hd
    background-color #f5f5f5
    border-radius 5px 5px 0 0 
    height 40px
    line-height @height
    font-size 1.1em
    padding-left 1em
  &-bd
    padding 1em
    border-radius bottom 5px
    
    
.form 
  .control-group
    margin-bottom 1em
  &-control
    border 1px solid #ddd
    border-radius 3px
    padding 5px 8px
    height 34px
    box-shadow inset 0 1px 1px rgba(0,0,0,0.075)
    vertical-align middle
    box-sizing border-box
    &:focus
      border-color rgba($main_color, .8)
      box-shadow 0 1px 1px 0 rgba($main_color, .5)
      outline 0
    textarea&
      width 100%
      min-height 100px
    
.btn 
  border 1px solid #ddd
  border-radius 4px
  padding 3px 12px
  background-color #fff
  &:hover
    background-color #ddd


.error
  &-box 
    width 50%
    margin 10px auto
    .jump
      font-size .8em
      color #888
      &:hover 
        color #d00
  &-title
    color #d00
  
  
  