@import 'nib'
@import './public/stylesheets/variable.styl'

// topic
// 发表话题页面
.topic 
  #tag
    margin-right 1em
  #title
    width 300px
    
// 内容页
.content
  &-hd
    background-color #f5f5f5
    border-radius top 5px
    padding 1em .5em
    h2
      margin 0
      font-size 1.3em
    .info
      font-size .9em
      margin-top .5em
      color #555
  
// 侧栏用户信息显示
.user-info 
  clearfix()
  .photo
    float left
    border-radius 50%
    margin-right 1em
      
// 回复
.reply
  #editor
    height 210px
  .CodeMirror
    height 160px
  &-list
    list-style none
    padding-left 0
    margin 0
    li
      border-bottom 1px solid #eee
      margin-bottom .5em
      position relative
      &:last-child
        border-bottom none
      .href
        position absolute
        top -10px
      h5
        margin 0
      .date
        color #999
        font-weight normal
      p
        margin .5em
        
// 首页
.index
  .nav 
    font-size .9em
    height 100%
    a
      display inline-block
      padding 0 .5em
      margin 0 2px 
      color $main_color
      &:hover
      &.active
        height 38px
        border-bottom 2px solid @color 
  .panel-bd
    padding 0 0 1em 0
    min-height 500px
  .list
    li
      padding .5em 1em
      border-bottom 1px solid #eee
    .count 
      float right
      font-size .9em
      color #999
    .info 
      font-size .8em
      color #999
      .label
      .author
        margin-right .5em
      .date
        &:before
          content: 'at: '


// 用户首页
.user-home
  &-avatar
    float left 
    margin-right 1em
  &-info 
    color #555
  
.reply
  &-content
    padding-left 1em
    font-size .9em
    color #444