
// 注册页面
.register
  .control-label
    display inline-block
    width 200px
    text-align right
  .form-control
    width 300px
  .btn-group
    padding-left 200px
  .error 
    display none
    color #f00
    padding-left 200px
    padding-bottom 1em

// topic
// 发表话题页面
.topic 
  #tag
    margin-right 1em
  #title
    width 300px
