.panel
  .panel-hd 语法说明
  .panel-bd
    ul
      li ### 单行标题
      li **粗体**
      li `console.log('行内代码')`
      li ```js\n code \n``` 标记代码块
      li [内容](链接)
      li ![文字说明](图片链接)
      li: a(href="https://segmentfault.com/markdown" target="_blank") markdown文档